<form class="form form-discount order-paymentid-form">
    <div class="payment-option-inner">
        <div class="field" data-bind="css: paymentid.css()">
            <label class="label">
                <span data-bind="i18n: 'Miniprogram Payment ID'"></span>
            </label>
            <div class="control">
                <input type="text" class="um-order-paymentid input-text order-paymentid order-paymentid-input" name="paymentid-code"
                    data-bind="value: paymentid,valueUpdate: 'afterkeydown',attr:{placeholder: $t('Enter Miniprogram Payment ID')} " />
            </div>
        </div>
    </div>
</form>