<?xml version="1.0"?>
<!--
/**
 * Copyright © Appboxo. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_model_service_quote_submit_before">
        <observer name="appboxo_connector-add_connector_to_order" 
		          instance="Appboxo\Connector\Observer\AddConnectorToOrder" />
    </event>

    <event name="sales_quote_load_after">
        <observer name="appboxo_connector_sales_quote_load_after" instance="Appboxo\Connector\Observer\ProductInterface" />
    </event>
</config>