<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <connector>
            <general>
                <enable>1</enable>
                <display_text>Appboxo Connector</display_text>
            </general>
        </connector>
        <appboxo_connector>
            <general>
                <is_show_in_myaccount>1</is_show_in_myaccount>
                <max_length></max_length>	
				<state>1</state>				
            </general>		
        </appboxo_connector>
    </default>
</config>